* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* min-height: 100vh; */
  /* background-position: center; */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
}

body {
  background-color: wheat;
}

.box-shadow {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  width: 18rem;
}
